.main_footer          { 
    background-color:gray; 
    color:black; 
    font-size:0.875em; 
    opacity: 80%;
   }
   .main_footer .content { float:left; width:90%; margin:0 5%; padding: 5em 0; }
   .container { float:left; width:100%; }
   .colfooter { 
    width:100%; 
    height:auto; 
    float:left; 
    margin-bottom:2em;
   }
   .colfooter ul        { width:100%; float:left; }
   .colfooter ul li     { padding:0.2em 0em; }
   .colfooter ul li a   { text-decoration:none; color:#ffffff; font-size:1em; }
   .colfooter ul li a i { font-size:0.5em; }
   .colfooter ul li a:hover { text-decoration:underline; }
   .colfooter .titleFooter   { 
    font-family:'open_sansregular'; 
    font-size:1.3em; 
    color:#ffffff; 
    padding-bottom: 0.5em; 
    margin-bottom:0.5em; 
    border-bottom:1px #4ec0db solid;
   }
   .colfooter p  { font-family:'open_sanslight'; color:black; font-size:1.5em; height:2px; } 
   .main_footer_copy { background-color:gray; width:100%; float:left; text-align:center; padding:1.5em 0em; }
   .main_footer_copy p { font-family:'open_sanslight'; font-size:1em; color:#e1e0e0; height:20px; }
   .main_footer_copy .m-b-footer   { margin-bottom:0.5em; }
   .main_footer_copy .by   { font-size:0.96em; }
   .main_footer_copy .by a       { color:#fff; text-decoration:none; }
  
  
   /*Responsivo*/
   /*768PX BREAKPOINT*/
   @media (min-width:48em){
   .colfooter  { width:30%; margin-right:5%; margin-bottom:0; }
   .colfooter:nth-of-type(3n+0){ margin-right:0; border-right:0;}
   }