#tabelaServicos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 100px;
}

#tabelaServicos h1{
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: solid;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.carrossel {
    width: 1000px;
    overflow: hidden;
    white-space: nowrap;
    background: #000000;
    list-style: none;
}
.carrossel > * {
    display: inline-block;
    width: 100%;
}

.carousel-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: #2E9ABE;
}
.carousel-list {
    display: flex;
    transition: transform 0.5s ease;
    list-style: none;
    padding: 0;
    margin: 0;
}
.carousel-list > li {
    flex: 0 0 33.333%; /* Para mostrar 3 itens ao mesmo tempo */
    text-align: center;
}
.carousel-list img {
    width: 100%;
    height: auto;
}
.carousel-nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.carousel-nav-button.prev {
    left: 10px;
}
.carousel-nav-button.next {
    right: 10px;
}
#rodape{
    background: rgb(255, 255, 255);
	height: 60px;
	padding-left: 25px;
	padding-right: 25px;
	display: flex;
	justify-content: space-between;
	justify-items: center;
	position: fixed;
	width: 100%;
	margin-top: 0;
	z-index: 1000;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5.5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.47);
}