* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bodyIndex {
    width: 100vw;
    height: 100vh;
    background-image: url('../src/imagens/fundo-preto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.bodySecundario {
    width: 100vw;
    height: 100vh;
    background-image: url('../src/imagens/fundo-branco.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    color: black;
    font-size: xx-large;
    margin: 10px;
    text-align: center;

}

p {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 70px;
}

body {
    background-color: white;
}

.quemsomos {
    margin: 25px;
    background-color: gray;
    border-radius: 20px;
    opacity: 80%;
}

.servicos {
    display: flexbox;
    margin: 25px;
    border-radius: 50px;
}

#mainContato {
    margin-top: 30px;
    background-color: black;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 30px;
}

#mapa {
    border-radius: 10px;
}

#infoContato a {
    color: white;
    margin: 40px;
    display: flex;
    direction: colum;
}

h1 {
    text-align: center;
}

header {
    padding-top: 150px;
}

header h1{
    color: white;
}