* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Corrigido de 0 para border-box */
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url('../src/imagens/placa-em-acm.jpeg'); /* Caminho relativo para a imagem */
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-position: center; /* Centraliza a imagem */
}
h1{
    color:black;
    font-size:xx-large;
    margin: 10px;
    text-align: center;
    
}
p{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 70px;
}   
body{
    background-color: white;
}
.quemsomos{
    margin: 25px;
    background-color: gray;
    border-radius: 20px;
    opacity: 80%;
}
.servicos{
    display: flexbox;
    margin: 25px;
    border-radius: 50px;
}

#mainContato{
    margin-top: 30px;
    background-color: black;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 30px;
    opacity: 80%;
}

#mapa{
    border-radius: 10px;
}

#infoContato a{
    color: white;
    margin: 40px;
    display: flex;
    direction: colum;
    
}
h1{
   text-align: center;
}