* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bodyIndex {
    width: 100vw;
    height: 100vh;
    background-image: url('../src/imagens/fundo-preto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.bodySecundario {
    width: 100vw;
    height: 100vh;
    background-image: url('../src/imagens/fundo-branco.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    color: black;
    font-size: xx-large;
    margin: 10px;
    text-align: center;

}

p {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 70px;
}

body {
    background-color: white;
}

#quemSomos {
    background: rgba(255, 255, 255, 0.9);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5.5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.47);
}

.servicos {
    display: flexbox;
    margin: 25px;
    border-radius: 50px;
}

#mainContato {
    margin-top: 30px;
    background-color: rgb(0, 0, 0);
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 30px;
}

#mapa {
    border-radius: 10px;
}

#paginaContatos {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

#infoContato a {
    color: white;
    margin: 40px;
    display: flex;
    direction: colum;
}

h1 {
    text-align: center;
}

header {
    padding-top: 150px;
}

header h1 {
    color: ghostwhite;
    margin-bottom: 80px;
}

header img {
    max-width: 50%;

}

#cabecalho {
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.linhaBranca {
    border: 0;
    height: 2px;
    background-color: white;
    width: 100%;
    margin: 20px 0;
}

#quemSomos h1 {
    padding-top: 50px;
}

.whatsappButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 50px;
}

.whatsappButton img {
    width: 50px;
    height: 50px;
    transition: transform 0.2s ease-in-out;
}

.whatsappButton img:hover {
    transform: scale(1.1);
}

#rodape {
    height: 200px;
    padding: 20px;
    background-color: rgb(144, 152, 152);
}